{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }} <fieldset class="form-group">
                <legend class="border-bottom mb-4">Upload Your Note</legend>
                <div class="form-group">
                    {{ form.note_file.label(class="form-control-label") }}
                    {{ form.note_file(class="form-control-file") }}
                    {% if form.note_file.errors %}
                        {% for error in form.note_file.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    {% if extracted_text %}
    <div class="content-section">
        <legend class="border-bottom mb-4">Extracted Text</legend>
        <pre>{{ extracted_text }}</pre> </div>
    {% endif %}

{% endblock content %}